<p-table
  [value]="tasks"
  styleClass="p-datatable-striped"
  #dt1
  [globalFilterFields]="['title', 'Description', 'status']"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <button
        pButton
        label="Clear"
        class="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="clear(dt1)"
      ></button>

      <button
        pButton
        label="Add"
        icon="pi pi-plus-circle"
        (click)="addTask()"
      ></button>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          placeholder="Search keyword"
          (input)="dt1.filterGlobal($event, 'contains')"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header"
    ><tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Task Status</th>
      <th>Due Date</th>
      <th>Tags</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr>
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.taskStatus }}</td>
      <td>{{ task.dueDate | date : "dd-MM-yyyy, HH:mm" }}</td>
      <td>
        <p-tag *ngFor="let tag of task.tags">#{{ tag.name }}</p-tag>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-card>
  <form [formGroup]="taskForm" (ngSubmit)="addTask()">
    <div class="flex-chip">
      <input pInputText placeholder="Title" formControlName="title" />
      <textarea
        pInputTextarea
        placeholder="Description"
        [autoResize]="true"
        formControlName="description"
      ></textarea>
      <label for="tags">Tags</label>
      <p-chips
        separator=","
        placeholder=" Hint: a, b, c"
        #tags
        formControlName="tags"
      ></p-chips>
      <p-calendar
        [showTime]="true"
        [showSeconds]="false"
        placeholder="Date"
        formControlName="date"
        [minDate]="minDate"
      ></p-calendar>

      <p-button type="submit"> Save</p-button>
      <p-button> Cancel</p-button>
    </div>
  </form>
</p-card>
